
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cyan: hsl(172, 67%, 45%);
    --dk-cyan: hsl(183, 100%, 15%);
    --dk-gray-cyan: hsl(186, 14%, 43%);
    --gray-cyan: hsl(184, 14%, 56%);
    --lt-gray-cyan: hsl(185, 41%, 84%);
    --lter-gray-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --red: #b22222;
}

body {
    font-family: 'Space Mono', monospace; 
    font-weight: 700;
    background-color: var(--lt-gray-cyan);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.left {
    position: relative;
}

.left p {
    padding-bottom: 12px;
}

.calculator {
    background-color: var(--white);
    border-radius: 20px;
    padding: 30px;
}

.calculator p {
    color: var(--dk-gray-cyan);
    font-size: 1.20rem;
}

.calculator input {
    background-color: var(--lter-gray-cyan);
    color: var(--dk-cyan);
    border: none;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    text-align: right;
    font-family: 'Space Mono', monospace;
    font-size: 1.55rem;
    font-weight: 700;
    padding-right: 20px;
}

.dollar {
    transform: translate(20px, -32px);
}

.percent {
    padding: 20px 0 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: var(--dk-cyan);
    color: var(--white);
    height: 3rem;
    border-radius: 8px; 
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.card:hover {
    background-color: var(--cyan);
    color: var(--dk-cyan);
}

.person {
    transform: translate(20px, -32px);
}

.right {
    background-color: var(--dk-cyan);
    padding: 40px 20px 20px;
    border-radius: 15px;
}

.right-one, .right-two {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

h5 {
    color: var(--white);
    font-size: 1.2rem;
}

h6 {
    color: var(--gray-cyan);
    font-size: .8rem;
}

.amount {
    color: var(--cyan);
    font-size: 2rem;
}

button {
    background-color: hsl(183, 100%, 22%);
    color: var(--dk-cyan);
    width: 100%;
    cursor: pointer;
    border: none;
    height: 45px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
}
.attribution {
     font-size: 11px;
     text-align: center; 
     padding: 10px 0;
}

.error {
    color: var(--red);
    position: absolute;
    transform: translate(198px, -30px);
    display: none;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (min-width:950px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        width: 920px;
        height: 480px;
    }

    .calculator {
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }

    .calculator p {
        font-size: 1.05rem;
    }

    .left {
        padding-top: 20px;
        flex-basis: 47%;
    }

    .percent {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 22px 0 38px;
    }

    .dollar {
        transform: translate(20px, -32px);
    }

    .person {
        transform: translate(20px, -32px);
    }

    .right {
        position: relative;
        flex-basis: 47%;
        padding: 52px 30px 10px;
    }

    .right-one {
        padding-bottom: 60px;
    }

    h5 {
        font-size: 1rem;
    }

    .amount {
        font-size: 3rem;
    }
    
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    button {
        margin-bottom: 30px;
    }

    .attribution {
        position: absolute;
        bottom: 0rem;
        width: 400px;
    }

    .error {
        transform: translate(285px, -30px);

    }
}